[Unit]
Description=Equibop PTT Service
After=network.target sound.target

[Service]
Type=simple
ExecStart=__PYTHON_PATH__ __SCRIPT_PATH__ --device "__DEVICE_NAME__" --key "__KEY_CODE__"
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
